<mat-card id="login-form-card">
    <mat-card-content id="login-form-card-content">
        <mat-form-field class="input-field">
            <input matInput placeholder="Username" />
        </mat-form-field>
        <br/>
        <mat-form-field class="input-field">
            <input matInput placeholder="Password" />
        </mat-form-field>
        <br/>
        <button id="sign-in-btn" mat-raised-button>Sign In</button>
        <br/>
        <br/>
        <button id="sign-in-ms-btn" mat-raised-button>Sign In With Microsoft</button>
    </mat-card-content>
</mat-card>
