<section id="login-section">
    <h1>Welcome</h1>
    <h2>Please Login</h2>
    <mat-card id="login-form-card">
        <mat-card-content id="login-form-card-content">
            <mat-form-field class="input-field">
                <input matInput placeholder="Username" />
            </mat-form-field>
            <br/>
            <mat-form-field class="input-field">
                <input matInput placeholder="Password" />
            </mat-form-field>
            <br/>
            <button id="sign-in-btn" (click)="loginWithOutMsal()" mat-raised-button>Sign In</button>
            <button id="sign-in-ms-btn" (click)="loginWithMsal()" mat-raised-button>Sign In With Microsoft</button>
        </mat-card-content>
    </mat-card>
</section>
